.ctn-header-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .header-news-1 {
        grid-row: span 2;
        grid-column: span 2;

        .title-news {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
