[icon] {
    cursor: pointer;
    display: flex;
    color: inherit;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    &.down {
        border: 1px solid var(--color-click);
        background: var(--color-click);
    }
    &.up {
        // border: 1px solid white;
        transition: background 0.3s;
        animation-name: icon;
        animation-duration: 0.3s;
    }
    @keyframes icon {
        100% {
            border: 1px solid var(--color-click);
        }
    }

    span {
        overflow: hidden;
        max-width: 100%;
        transition: all 0.3s;
    }
}
img {
    width: 100%;
}
.img {
    background-size: 100% 100%;
    width: 2em;
    height: 2em;
}
a {
    cursor: pointer;
}

.fl {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.ct-r {
        align-items: center;
    }
    &.ct-c {
        justify-content: center;
    }
    &.sp-bw {
        justify-content: space-between;
    }
}
.paner-a {
    background: var(--bg-a);
    color: var(--text-a);
}
.paner-b {
    background: var(--bg-b);
    color: var(--text-b);
}
.paner-c {
    background: var(--bg-c);
    color: var(--text-c);
}
.ctn {
    width: 100%;
    height: 100%;
}

.name-title {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 1em;
    height: 2em;
    background-color: var(--color-headings);
    color: #fff;
    font-size: 1.5em;
    &::after {
        content: "";
        position: absolute;
        top: 0em;
        border-bottom: 2em solid var(--color-headings);
        border-right: 2em solid transparent;
        right: calc(-2em + 1px);
        position: absolute;
    }
}

.border {
    border: 1px solid;
}

.font-a {
    background: var(--bg-a);
    color: var(--text-a);
}

.font-b {
    background: var(--bg-b);
    color: var(--text-b);
}
.font-c {
    background: var(--bg-c);
    color: var(--text-c);
}

.font-active {
    color: white;
    background: var(--bg-a);
    border: 1px solid var(--bg-a) !important;
    border-radius: 20px 0 0 20px;
    // color: var(--text-c);
    width: 100%;
    &:hover {
        background: var(--bg-c);
        color: var(--text-c);
        border: 1px solid var(--bg-c) !important;
    }
}

.label {
    background-color: var(--bg-c);
    padding: 0.25em;
    border-radius: 0.5em;
}

.font-2 {
    font-size: 2em;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.choose {
    border: 1px solid;
    margin-right: 1rem;
    padding: 1rem;
    cursor: pointer;
    &.active-span {
        position: relative;
        border: 1px solid var(--color-headings);
        &::after {
            position: absolute;
            content: "\2714";
            color: white;
            bottom: 0;
            right: 0;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom: 25px solid var(--color-headings);
            border-left: 25px solid transparent;

            position: absolute;
        }
    }
}
