.ctn-menu {
    .ctn-tap {
        width: 50%;
        overflow: hidden;
        position: relative;
        user-select: none;
        padding: 0 3em;
        height: 100%;
        border: 1px solid;
        .tap {
            cursor: pointer;
            padding-left: 1em;

            a {
                padding: 0.5em 1em;
                cursor: pointer;
                border-radius: 1em;
                border: 1px solid;
                margin-right: 1em;
                &:hover {
                    background: var(--bg-b);
                    color: var(--text-b);
                }
            }
        }
        .move {
            position: absolute;
            cursor: pointer;
            height: 3em;
            width: 3em;
            z-index: 1;
            opacity: 0.7;
            background: var(--bg-b);
            [icon] {
                border-radius: 100%;
            }
            &:hover {
                background: var(--bg-a);
                color: var(--text-c);
            }
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
}
