.ctn-content {
    width: 100%;
    padding: 0 1em;
    position: relative;
    .ctn-product {
        margin: auto;
        width: 80%;
        display: grid;
        justify-content: center;
        gap: 3rem 2rem;
        grid-template-columns: repeat(auto-fill, 15rem);
        h1 {
            margin-top: 1em;
            grid-column: 1/-1;
            align-self: start;
            justify-self: start;
        }
    }
}
