@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:hover {
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

input {
    padding: 10px;
    font-size: 1.2em;
    background-color: var(--bg-a);
    border: 1px solid var(--text-a);
    color: var(--text-b);
    position: relative;
    overflow: auto;
    &:focus {
        outline: none;
        // border: 1px solid var(--colorActive);
    }
}

button {
    color: var(--text-btn);
    border: 1px solid var(--text-btn);
    background: var(--bg-btn);
    cursor: pointer;
    height: auto;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    margin: 0;
    &:hover {
        background: var(--text-btn);
        color: var(--bg-btn);
        border: 1px solid var(--text-btn);
    }
}

@media screen and(min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: initial;

        //
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--text-a);
    }
    /* Handle on hover */
}
