:root {
    --height-menu: 3em;
    --margin: 1em;
    --padding: 0.5em;
    --colorActive: #6a5af9;
}

html {
    font-size: 16px;

    --height-display: 99vh;
    --margin: 2em;
    --color-click: #585858;
    --color-headings: #0077ff;
    //them default
    --bg-active: rgb(100, 100, 100);
    --color-active: rgb(255, 255, 255);
    --bg-btn: #ffffff;
    --text-btn: #0077ff;
    --bg-a: #ffffff;
    --bg-b: #f1f1f1;
    --bg-c: #dbdbdb;
    --text-a: #3d3d3d;
    --text-b: #2b2b2b;
    --text-c: #1a1a1a;
    --color-text: #181818;
    //end theme
    &[data-theme="light"] {
        --bg-active: rgb(100, 100, 100);
        --color-active: rgb(255, 255, 255);
        --bg-btn: #ffffff;
        --text-btn: #0077ff;
        --bg-a: #ffffff;
        --bg-b: #f1f1f1;
        --bg-c: #dbdbdb;
        --text-a: #3d3d3d;
        --text-b: #2b2b2b;
        --text-c: #1a1a1a;
        --color-text: #181818;
    }
    &[data-theme="dark"] {
        --bg-active: rgb(92, 92, 92);
        --text-active: rgb(255, 255, 255);
        --bg-btn: #ffffff;
        --text-btn: #0077ff;
        --bg-a: #000000;
        --bg-b: #181818;
        --bg-c: #202020;
        --text-a: #999999;
        --text-b: #e1e1e1;
        --text-c: #ffffff;
        --color-text: #f5f5f5;
    }
}
body {
    background-color: var(--bg);
    color: var(--color-text);
}
