.ctn-product {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    padding: 1rem;
    gap: 10px;
    .ctn-filter-product {
        grid-column: 2 / 3;
        background-color: var(--bg-b);
        padding: 1rem;
        border-radius: 10px;
    }
    .ctn-show-product-detail {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: var(--bg-b);
        padding: 1rem;
        border-radius: 10px;
    }
}
