.field {
    position: relative;
    background-color: inherit;
    background: var(--bg-a);

    input {
        border-radius: 10px;
        padding: 1.5rem 1rem 0.5rem 1rem;
        background: inherit;

        &:focus {
            border: 1px solid var(--colorActive);
        }
    }
    input:not(:placeholder-shown) + label,
    input:focus + label {
        position: absolute;
        color: var(--colorActive);
        padding: 5px 1rem;
        transform: translateY(-50%);
        left: 1rem;
        top: 0;
        background-color: inherit;
    }

    label {
        font-size: 1.2rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        transition: all 0.2s;
        color: var(--text-a);
    }
}
