.slide-show {
    // width: 100%;

    overflow: hidden;
    .ctn-img-slide {
        width: 500%;
        position: relative;
        display: flex;

        transform: translateX(0);
        transition: all 0.5s;
        .img-slide {
            width: 20%;
            padding-top: 8%;
        }
    }
    .ctn-title-slide {
        margin-top: 1rem;
        display: flex;
        .title {
            width: 20%;
            text-align: center;
            padding: 1rem;
            cursor: pointer;
            border: 1px solid var(--color-headings);
            position: relative;
            &.active {
                background-color: var(--color-headings);
                &::before {
                    content: "";
                    right: 50%;
                    top: 0;
                    position: absolute;
                    transform: translateY(-100%);
                    border-bottom: 1rem solid var(--color-headings);
                    border-left: 1rem solid transparent;
                }
                &::after {
                    content: "";
                    left: 50%;
                    top: 0;
                    position: absolute;
                    transform: translateY(-100%);
                    border-bottom: 1rem solid var(--color-headings);
                    border-right: 1rem solid transparent;
                }
            }
        }
    }
}
