#news {
    width: 1000px;
    border: 1px solid;
    .ctn-header-news {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        gap: 10px;
        .img-news {
            background-size: 100% 100%;
            padding-top: 70%;
            cursor: pointer;
            position: relative;
            background-position: center;
            transition: all 0.3s;

            &:hover {
                background-size: 105% 105%;

                .background-gradient {
                    opacity: 0.5;
                    background-image: linear-gradient(transparent, black 90%, black 95%, black 100%);
                }
            }
            .ctn-title-news {
                position: absolute;
                color: white;
                width: 100%;
                height: 100%;
                bottom: 0;
                z-index: 1;
                display: flex;
                padding: 3%;
                flex-direction: column;

                justify-content: flex-end;

                .title-news {
                    font-weight: bold;
                }
                .date-news {
                    font-size: 1rem;
                }
            }
            .background-gradient {
                position: absolute;
                top: 0;
                opacity: 0.4;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(transparent, black);
            }
        }

        .header-news-1 {
            grid-row: span 2;
            grid-column: span 2;
            border: 1px solid;

            .title-news {
                font-size: 1.5rem;

                font-weight: bold;
            }
        }
        .header-news-2 {
            border: 1px solid;
        }
        .header-news-3 {
            border: 1px solid;
        }
        .header-news-4 {
            border: 1px solid;
        }
        .header-news-5 {
            border: 1px solid;
        }
    }
}
